# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea

# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

exp
data
raw_wav
tensorboard
**/*build*

examples/onnx/*.onnx
examples/onnx/*.log
examples/onnx/onnx_tmp1.py
examples/onnx/onnx_try.py
examples/onnx/result.txt
examples/onnx/tmp2.ipynb
examples/onnx/try2.py
examples/onnx/try_decoder_layer.py
examples/onnx/try_all_details.py
examples/onnx/run.sh
examples/onnx/onnx_ctc.py
examples/onnx/onnx_decoder.py
examples/onnx/wenet
examples/onnx/tools
examples/onnx/onnx_encoder.py
examples/onnx/onnx_all.py
examples/onnx/onnx_encoder_conformer.py
examples/onnx/run_onnx_my.sh
